@font-face {
    font-family: 'Titillium Web ExtraLight';
    src: url('../assets/fonts/Titillium_Web/TitilliumWeb-ExtraLight.ttf');
}
@font-face {
    font-family: 'Titillium Web Light';
    src: url('../assets/fonts/Titillium_Web/TitilliumWeb-Light.ttf');
}
@font-face {
    font-family: 'Titillium Web';
    src: url('../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf');
}
@font-face {
    font-family: 'Titillium Web SemiBold';
    src: url('../assets/fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf');
}
@font-face {
    font-family: 'F1';
    src: url('../assets/fonts/Formula1/Formula1-Regular.ttf');
}

html {
    scroll-behavior: smooth;
}

/* Cuando hace scroll automático al seleccionar el link del nav que no se superponga al título del enlace al que se dirige */
[id] {
    scroll-margin-top: 90px;
}

/* Barra de scroll personalizada */
body::-webkit-scrollbar-track {
    border-radius: 5px;
}

body::-webkit-scrollbar {
    width: 15px;
    background-color: #75747470;
}

body::-webkit-scrollbar:hover {
    background-color: rgba(238, 0, 0, 0.564);
}

body::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: linear-gradient(45deg,#fc9898, #951c1c, #fc9898);
}

body::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #ffffff, #cc2727, #ffffff);
}

body::-webkit-scrollbar-button:decrement{
    background-color: #757474;
}

body::-webkit-scrollbar-button:decrement:hover{
    background-color: #aaaaaa;
}

body::-webkit-scrollbar-button:increment{
    background-color: #757474;
}

body::-webkit-scrollbar-button:increment:hover{
    background-color: #aaaaaa;
}

#icono-flecha-abajo:hover {
    background-color: #ee0000;
    border-radius: 50%;
    -webkit-transition: all 0.45s ease-out;
    transition: all 0.45s ease-out;
}

header > div {
    margin-top: 120px !important;
}

fieldset {
    border-top: solid 10px #ee0000;
    border-right: solid 10px #ee0000;
    border-bottom: solid 10px #ee0000;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#noticias {
    font-family: 'Titillium Web SemiBold', sans-serif;
}

fieldset div#accordion a {
    font-family: 'F1', sans-serif;
}

#clasificacion {
    font-family: 'Titillium Web Light', sans-serif;
}

nav a.nav-link {
    font-family: 'F1', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    letter-spacing: 1px;
}

.coches {
    background-color: #d70000ce;
    font-family: 'F1', sans-serif;
    letter-spacing: .5px;
}

div#scrollspy {
    position: relative; 
    height: 400px;
    overflow-y: scroll;
}

#video, #pitlane {
    font-family: 'F1', sans-serif;
}

.img-flecha {
    width: 50px;
}

.btn-volver-arriba {
    position: fixed;
    bottom: 1%;
    right: .5%;
    background-color: #dbe4e4;
    border-radius: 50%;
    cursor: pointer;
    transform: translateY(100px);
    transition: 0.3s;
}

.btn-volver-arriba:hover {
    background-color: #951c1c;
    border-radius: 50%;
    -webkit-transition: all 0.30s ease-out;
    transition: all 0.30s ease-out;
}

.btn-scrolltop-on {
    transform: translateY(0);
}

.btn-ir-abajo {
    position: fixed;
    bottom: 1%;
    right: .5%;
    background-color: #dbe4e4;
    border-radius: 50%;
    cursor: pointer;
    transform: translateY(100px);
    transition: 0.3s;
}

.btn-ir-abajo:hover {
    background-color: #951c1c;
    border-radius: 50%;
    -webkit-transition: all 0.30s ease-out;
    transition: all 0.30s ease-out;
}

.btn-scrolldown-on {
    transform: translateY(0);
}

.mycontainer {
    display: flex;
    gap: 10px;
}

.card {
    font-family: 'Titillium Web', sans-serif;
    box-shadow: -.2rem 0 2rem #000;
    transition: 300ms ease-in-out;
}

.card + .card {
    margin-left: -10px;
}

.card:hover {
    transform: rotate(-4deg);
}

.card:hover ~ .card {
    z-index: 1;
    translate: 60px;
}

.card-title, #contacto {
    font-family: 'Titillium Web Semibold', sans-serif;
}

#formulario {
    font-family: 'F1', sans-serif;
}

.error {
    color: #cc2727;
    font-family: 'F1', sans-serif;
    font-size: small;
}