@font-face {
    font-family: 'Titillium Web ExtraLight';
    src: url('../assets/fonts/Titillium_Web/TitilliumWeb-ExtraLight.ttf');
}
@font-face {
    font-family: 'Titillium Web Light';
    src: url('../assets/fonts/Titillium_Web/TitilliumWeb-Light.ttf');
}
@font-face {
    font-family: 'Titillium Web';
    src: url('../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf');
}
@font-face {
    font-family: 'Titillium Web SemiBold';
    src: url('../assets/fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf');
}
@font-face {
    font-family: 'F1';
    src: url('../assets/fonts/Formula1/Formula1-Regular.ttf');
}

fieldset {
    border-top: solid 10px #ee0000;
    border-right: solid 10px #ee0000;
    border-bottom: solid 10px #ee0000;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#noticias {
    font-family: 'Titillium Web SemiBold', sans-serif;
}

fieldset div#accordion a {
    font-family: 'F1', sans-serif;
}

#clasificacion {
    font-family: 'Titillium Web Light', sans-serif;
}

nav a.nav-link {
    font-family: 'F1', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    letter-spacing: 1px;
}

.coches {
    background-color: #d70000ce;
    font-family: 'F1', sans-serif;
    letter-spacing: .5px;
}

div#scrollspy {
    position: relative; 
    height: 400px;
    overflow-y: scroll;
}